---
const {title} = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <main>
        <header>
            <div>
                <img width="15%" height="16%" src="https://static.wikia.nocookie.net/minecraft_gamepedia/images/0/0c/Glow_Squid_BE1.gif" alt="Glow Squid">
                <h1>Glowsquid</h1>
            </div>
        </header>
        <br><div style="text-align: center;"><slot /></div><br>
        <footer>
        <p style="text-align: center;"><em>
            The Glowsquid launcher is not affiliated with or endorsed by Minecraft or Mojang Studios.<br />
            Glow Squid design (at the top of the page) belongs to Mojang Studios and is used under the Brand and Assets Guidelines.
        </em></p>
        </footer>
    </main>
</body>
</html>

<style global>
li {
    text-decoration: none;
}
</style>
