---
import Head from '../components/Head.astro'
const allBlogs = Astro.fetchContent('../blogs/*.md') 
---

<head>
    <Head title="all blogs" description="All blogs of le glowsquid" />
</head>

<ul>
{allBlogs.map(blog => (
    <li>
    <a href={`blog/${blog.slug}`}>{blog.title}</a>
    </li>
))}
</ul>