.v-snack__content {
  @apply grid grid-cols-4;
}

.vts__message {
  @apply col-span-3 mr-auto;

  div {
    color: var(--v-secondary--text-base) !important;
  }
}

.v-btn__content, a {
  color: var(--v-secondary--text-base) !important;
}

.theme--light.v-application {
  background-color: var(--v-secondary-base) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--v-primary-base);
}

::-webkit-scrollbar-thumb {
  background: var(--v-secondary-base);
  border-radius: 10px;

  &:hover {
    background: #555;
  }
}

* {
  transition-duration: .3s !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.news-title {
  font-size: medium !important;
}

.news-card {
  margin: 1em;
  border-radius: 5em !important;
}
