:root {
  --text: #f5f2f3;
  --background: oklch(20% 0.05 200);

  --primary-bg: oklch(40% 0.1 190);
  --secondary-bg: oklch(30% 0.1 195);
  --outline: oklch(55% 0.1 185);

  --red: oklch(45.9% 0.173 27);
  --green: oklch(48% 0.14 147.5);
  --yellow: oklch(82.6% 0.158 86.68);
  --amber: oklch(63.2% 0.131 57.2);
}

*:focus-visible {
  outline: solid 2px var(--outline);
  border-radius: var(--rounding-small);
}
