:root {
    --text: #f5f2f3;
    --background: oklch(25% 0.05 200);

    --outline: oklch(70% 0.1 180);
    --primary-bg: oklch(55% 0.1 190);
    --secondary-bg: oklch(44% 0.083 190);

    --red: #d82430;
    --green: #1a8038;
    --yellow: #eab832;
    --amber: #cc8431;
}

*:focus-visible {
    outline: solid 2px var(--outline);
    border-radius: var(--rounding-small);
}
